body {
    font-family: sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    background-color: salmon;
    padding: 50px 0;
    margin: 0;
    color: white;
}

.container {
    max-width: 600px;
    /* background-color: salmon; */
    margin: 0 auto;
    /* padding: 20px; */
}

form {
    padding: 10px;
}

button {
    background: none;
    padding: 20px 50px;
    border-radius: 5px;
}

button:hover {
    background: salmon;
    cursor: pointer;
    color: white;
}

.buttonContainer {
    text-align: center;
}

#message {
    font-size: x-large;
    text-align: center;
    margin: 50px 10px;
}