@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
    background: repeating-linear-gradient(to right,
            #f6ba52,
            #f6ba52 60px,
            #ffd180 60px,
            #ffd180 120px);

}

h1 {
    text-align: center;
    margin: 7vh auto;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #702a2a;

}


#timer{
    text-align: center;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color:#702a2a;
    
    
}

.teacup {
    width: 200px;
    height: 200px;
    padding: 10px;
    /* background-color:rgb(255, 255, 255);
    border: 10px solid #ffd180 ; */
    margin: auto;
    display: flex;
    justify-content: center;
}

#tea-timer-button{
    margin: 0 auto;
    text-align: center;
    width:200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color:#702a2a;

    border:none;
    border-radius: 10px;
    background-color: white;
    
}

#tea-timer-button:hover{
    background-color: rgb(255, 232, 175);
}