body{
    background: rgb(0,0,0) 
}

#text{
    text-align: center;
    padding: 50PX;
    margin-top: 50px auto;
    font-size: 60px;
    font: "Fira Sans", sans-serif;
    color: rgb(255,255,255);
}
